{% for host in vars['ansible_play_hosts'] | sort %}
{% if hostvars[host]['ansible_facts']['ovn_name'] == ovn_name | default('') and "ic-db" in hostvars[host]['ansible_facts']['ovn_roles'] %}
- "{{ hostvars[host]['ansible_facts']['ovn_ip_address'] | default(hostvars[host]['ansible_default_ipv6']['address'] | default(hostvars[host]['ansible_default_ipv4']['address'])) }}"
{% endif %}
{% endfor %}
