- name: List satellite nodes
  ansible.builtin.command: linstor --machine-readable node list
  register: linstor_satellite_nodes_output
  changed_when: false
  when: '"controller" in linstor_roles'

- name: Parse satellite node names
  ansible.builtin.set_fact:
    linstor_existing_satellite_nodes: "{{ linstor_satellite_nodes_output.stdout | from_json | json_query('[].name') }}"
  when: '"controller" in linstor_roles'

- name: Add controller node
  ansible.builtin.command: >-
    linstor node create {{ item }}
    {{ hostvars[item].ansible_facts.default_ipv6.address | default(hostvars[item].ansible_facts.default_ipv4.address) }}
    --node-type combined
  register: linstor_create_node_output
  loop: "{{ ansible_play_hosts }}"
  when: >-
    ("controller" in linstor_roles) and
    ("satellite" in hostvars[item]["ansible_facts"]["linstor_roles"]) and
    (item == inventory_hostname) and
    (item not in linstor_existing_satellite_nodes)
  changed_when: "linstor_create_node_output.rc == 0"

- name: Add satellite nodes
  ansible.builtin.command: >-
    linstor node create {{ item }}
    {{ hostvars[item].ansible_facts.default_ipv6.address | default(hostvars[item].ansible_facts.default_ipv4.address) }}
    --node-type satellite
  register: linstor_create_node_output
  loop: "{{ ansible_play_hosts }}"
  when: >-
    ("controller" in linstor_roles) and
    ("satellite" in hostvars[item]["ansible_facts"]["linstor_roles"]) and
    (item != inventory_hostname) and
    (item not in linstor_existing_satellite_nodes)
  changed_when: "linstor_create_node_output.rc == 0"
